:root {
  --color-brand-primary: #1863DC;
  --color-brand-navy: #07406B;
  --color-brand-sky: #2AA7DF;
  --color-brand-gray: #EBEBEB;
  --color-brand-dark: #212121;
  --color-brand-muted: #808285;
  --color-brand-tint: #EBF4FF;
}
